body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.btn{
    width: 75px;
    height: 75px;
    margin: 15px;
    font-size: 40px;
}
.number{
    border: 1px solid greenyellow;
    border-radius: 10px;
}
.operator{
    border: 1px solid steelblue;
    border-radius: 10px;
}
.decimal{
    border: 1px solid gold;
    border-radius: 10px;
}
.equal{
    border: 1px solid pink;
    border-radius: 10px;
}
#clear-btn{
    border: 1px solid violet;
    border-radius: 10px;
}
